@media (width <= 1024px) {
    section :is(article:first-child, article:first-child img, article:last-child) {
        width: 100%;
    }
    section {
        flex-direction: column;

        article:last-child {
            gap: 1rem;
        }
    }
}
@media (width <= 768px) {
    body {
        padding: 2rem 1rem;
    }
}